main h1{
    font-size: 60px;
    background-color: #851944;
    color: #FFF;
    text-align: center;
    padding: 25px;
    margin: 0;
    border-bottom: 10px solid black;
    font-family: "Arial", "Open Sans Condensed", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h2{
    font-family: "Arial", "Open Sans Condensed", sans-serif;
    font-weight: bold;
    font-size: 30px;
    clear: both;
}

body{
    background-color: #F2FFFC;
    font-family: "Times New Roman", "Crimson Text", serif;
    line-height: 1.5;
}

p{
    text-align: justify;
    padding: 20px 0 20px 0;
}



.block{
    background-color: #D9E5E3;
    width: 250px;
    margin: 0;
    padding: 20px 40px;
    border: 10px solid #C2CCCA;
}

.block1{
    float: right;
    margin-left: 20px;
}

.block2{
    float: left;
    margin-right: 20px;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    float: right;
    clear: right;
    width: 15%;
    box-sizing: border-box;
    border: 10px solid black;
    position: relative;
    top:310px;    
}

img{
    float: right;
    box-sizing: border-box;
    border: 10px solid black;
    position: absolute;
    top: 0;
    right: 0;
}

#rodape-bio {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

ul {
    color: #F2FFFC;
}

ul li a {
    color: inherit;
}

main a {
    color: #851944;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
    text-transform: lowercase;
}

body a{
    text-decoration: none;
}

.main div{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 0;
}

.navegacao-site h1{
    font-family: "Arial", "Open Sans Condensed", sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 0 0 25px 0;
    text-transform: uppercase;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

.navegacao-site ul{
    list-style: none;
    padding: 0;
}

.links-sociais a{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 0;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 5px 0 0 0;
}

.more{
    border-radius: 5px;
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}

.github{
    background-image: url(C:/Users/Matheus/Documents/GitHub/Alura/projeto/imagens/github.png);
}

.twitter{
    background-image: url(C:/Users/Matheus/Documents/GitHub/Alura/projeto/imagens/twitter.png);
}

.linkedin{
    background-image: url(C:/Users/Matheus/Documents/GitHub/Alura/projeto/imagens/linkedin.png);
}

main{
    float: left;
    width: 85%;
    padding-bottom: 80px;
}

footer{
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}